@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.snap {
  scroll-snap-type: x mandatory;
}

@media only screen and (max-width: 768px) {
  .scrollable {
    flex-wrap: nowrap;
    overflow: auto;
    height: 80vh;
    width: 100vw;
    flex-direction: row;
  }

  .box {
    width: 30px;
    height: 30px;
  }

  .mobile {
    max-height: fit-content;
  }

  .stopScrollMobile {
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .container-scroll {
    height: 100vh;
  }

  .box {
    width: 4em;
    height: 4em;
  }
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

div {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}